[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"
pytest = "*"
matplotlib = "*"
jupyter-contrib-nbextensions = "*"
autopep8 = "*"
pep8 = "*"

[packages]
kaggle = "*"
pandas = "==0.22"
psycopg2-binary = "==2.8.5"
lightgbm = "==2.3.1"
scikit-learn = "==0.23.1"

[requires]
python_version = "3.6"
